server/node_modules
npm-debug.log
.DS_STORE
server/config.js
yarn-error.log
.vscode/
mobile/FootballShouts/node_modules/
mobile/platforms/android/
mobile/FootballShouts/platforms/android/
node_modules/
