extends layout

block input
  //create a form with fields for players and clubs
  //on submit, you need to do an emit
  //http://stackoverflow.com/questions/32252020/socket-io-send-form-data-from-client-to-server
  
  form(id="search", method="", action="")
    div.row
      div.col.s12
        div.row
          div.input-field.col.s12
            input(name="players", id="players", type="text", data-role="materialtags")
            label(for = "players") Player Names
        div.row
          div.input-field.col.s12
            input(name="clubs", id="clubs", type="text", data-role="materialtags")
            label(for = "clubs") Club Names
        div.row
          .input-field.col.s12
            button.btn-large.waves-effect.waves-light.purple.darken-3(type='submit') Submit
      

block tweets
  div#app
    
  script(src="/javascripts/jquery-3.2.0.min.js")
  script(src="/javascripts/typeahead.min.js")
  script(src="/javascripts/materialize.min.js")
  script(src="/javascripts/materialize-tags.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/main.js")
