extends layout

//Materialize-tags: http://henrychavez.github.io/materialize-tags/examples/
//TODO: fix bug where ctrl+a and delete does some weird shit. seems to be fixed by typeahead so do that at some point

//TODO: Implement a loading bar? http://lab.hakim.se/ladda/

//Form for search inputs
block input
  form(id="search", method="", action="")
    div.disable-select.default-cursor
      div.row
        div.input-field.col.s12
          input(name="players", id="players", type="text", data-role="materialtags")
          label.white-text(for = "players", id="players_label") What is the player's name?
      div.row
        div.input-field.col.s12
          input(name="clubs", id="clubs", type="text", data-role="materialtags")
          label.white-text(for = "clubs", id="clubs_label") What club are they rumoured with?
      div.row.center-align
        div.input-field.col.s12
          select(name="options", id="options", multiple="multiple")
            option(value="", disabled="disabled") Please select at least one option...
            option(value="database", id="option1", selected="selected") Database
            option(value="twitter", id="option2", selected="selected") Twitter
          label.white-text(for="options", id="options_label") Where should we search?
      div.center-align
        div.input-field.col.s12
          button.btn-large.waves-effect.waves-light.purple.darken-3#submit-button(type='submit') Find Transfers!
//The floating return to top button
block overlay
  a.btn-floating.btn-large.btn-light.waves-effect.waves-light.z-depth-5#back-to-top
    i
      img(src="/images/top-arrow.svg")


//The returned tweets
block tweets
  div.row
    div.col.s5
      div.card-panel.z-depth-1.info#playerinfo
        div.info-top
          div.info-image#playerimage
            img.circle.responsive-img(src = "/images/manny.png")
          div.info-title#playername
            p Manny Calavera
        table.responsive-table.striped
          tbody
            tr
              td.info-name
                | Current Club:
              td#currentclub
                span Club Universidad Nacional
            tr
              td.info-name
                | Position:
              td#position
                span Front, back and sides
            tr
              td.info-name
                | Jersey Number:
              td#jerseynumber
                span 13
            tr
              td.info-name
                | Age:
              td#age
                span 11
            tr
              td.info-name
                | Country:
              td#country
                span Mexico
            tr
              td.info-name
                | Height:
              td#height
                span 2ft
            tr
              td.info-name
                | Weight:
              td#weight
                span 1kg
            tr
              td.info-name
                | Preferred Foot:
              td#preferredfoot
                span The wrong one
            tr
              td.info-name
                | Estimated Value:
              td#estimatedvalue
                span £1
      div.card-panel.grey.lighten-5.z-depth-1.info#clubinfo
        div.info-top
          div.info-image#playerimage
            img.responsive-img(src = "/images/club.png")
          div.info-title#playername
            p Club Universidad Nacional
        table.striped
          tbody
            tr
              td.info-name
                | League:
              td#league
                span Liga MX
    div.col.s7#js-tweet-start
      div.row#js-tweet-chart-container
        div.col.s12
            div.card-panel
              table.responsive-table#tweetData
                tbody
                  tr
                    td.info-name
                      | Tweets from Twitter
                    td#tweetsFromTwitter
                      | 0
                  tr
                    td.info-name
                      | Tweets from Database
                    td#tweetsFromDatabase
                      | 0
              #loader Generating graph...
              canvas#tweet-chart(width='400', height='200')
      #app
