extends layout

//Materialize-tags: http://henrychavez.github.io/materialize-tags/examples/
//TODO: fix bug where ctrl+a and delete does some weird shit. seems to be fixed by typeahead so do that at some point

//TODO: Implement a loading bar? http://lab.hakim.se/ladda/

//Form for search inputs
block input
  form(id="search", method="", action="")
    div.row.disable-select.default-cursor
      div.col.s12
        div.row
          div.input-field.col.s12
            input(name="players", id="players", type="text", data-role="materialtags")
            label(for = "players", id="players_label") Player Names
        div.row
          div.input-field.col.s12
            input(name="clubs", id="clubs", type="text", data-role="materialtags")
            label(for = "clubs", id="clubs_label") Club Names
        div.row.center-align
          .input-field.col.s12
            button.btn-large.waves-effect.waves-light.purple.darken-3(type='submit') Submit
      
//The returned tweets
block tweets
  div.row
    div#app
