doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/materialize.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-3.2.0.min.js")
    script(src="/javascripts/materialize.min.js")
  body
    div.content
      block input
      block tweets
