doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="/stylesheets/materialize.min.css")
    link(rel="stylesheet", href="/stylesheets/materialize-tags.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      block input
      block tweets
