doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="/stylesheets/materialize.min.css")
    link(rel="stylesheet", href="/stylesheets/materialize-tags.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/tweet.css')
  body
    div.container
      block input
      block tweets
    
    //JS scripts
    script(src="/javascripts/jquery-3.2.0.min.js")
    script(src="/javascripts/typeahead.min.js")
    script(src="/javascripts/materialize.min.js")
    script(src="/javascripts/materialize-tags.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/main.js")
    script(src="/javascripts/init.js")
