form#search {
  margin-top: 100px;
}

/*Modifications for button highlighting*/
.btn, .btn-large {
  overflow: hidden;
}
.btn:hover:before, .btn-large:hover:before {
  opacity:1;
}
.btn:before, .btn-large:before {
  content: '';
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity .2s;
  z-index: -1;
}
.btn.purple:before, .btn-large.purple:before {
  background-color: #6f30ad;
}

/*Input field colours*/
.input-field input[type=text]:focus + label {
  color: #6a1b9a;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid #6a1b9a;
  box-shadow: 0 1px 0 0 #6a1b9a;
}
.materialize-tags.active {
  border-bottom-color: #6a1b9a;
  box-shadow: 0 1px 0 0 #6a1b9a;
}

/*Style for using the default mouse cursor*/
span.chip, label, .default-cursor {
  cursor: default;
}

/*Style for disabling the selection of text*/
.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}#
