img.avatar {
  max-width: 64px;
  max-height: 64px;
  vertical-align: middle;
}

div.tweet {
  margin-bottom: 0px;
}

div.tweetName {
  display: inline-block;
  font-weight: bold;
}

div.tweetHandle {
  display: inline-block;
  margin-left: 5px;
  font-size: 14px;
}

div.tweetHandle > a {
  color: #8a9ba7;
}

div.tweetTop {
  margin-bottom: 2px;
}

div.tweetDate {
  margin-top: 5px;
  font-size: 12px;
  color: #8a9ba7;
}
