extends layout

//Form for search inputs
block input
  form(id="search", method="", action="")
    div.disable-select.default-cursor

      //First input box
      div.row
        div.input-field.col.s12
          input(name="players", id="players", type="text", data-role="materialtags")
          label.white-text(for = "players", id="players_label") What is the player's name?

      //Second input box
      div.row
        div.input-field.col.s12
          input(name="clubs", id="clubs", type="text", data-role="materialtags")
          label.white-text(for = "clubs", id="clubs_label") What club are they rumoured with?
      
      //Third input box
      div.row
        div.input-field.col.s12
          input(name="authors", id="authors", type="text", data-role="materialtags")
          label.white-text(for = "authors", id="authors_label") Which Twitter accounts should be searched?

      //Options dropdown
      div.row.center-align
        div.input-field.col.s12
          select(name="options", id="options", multiple="multiple")
            option(value="", disabled="disabled") Please select at least one option...
            option(value="database", id="option1", selected="selected") Database
            option(value="twitter", id="option2", selected="selected") Twitter
          label.white-text(for="options", id="options_label") Where should we search?

      //Submit button and loading animation
      div.row.center-align
        div.input-field.col.s12
          //Submit button
          div#submit-button-wrapper
            button.btn-large.waves-effect.waves-light.purple.darken-3#submit-button(type='submit') Find Transfers!
          //Loading animation
          div#loader-wrapper
            div.preloader-wrapper.big.active#loader
              div.spinner-layer.white-loader
                div.circle-clipper.left
                  div.circle
                div.gap-patch
                  div.circle
                div.circle-clipper.right
                  div.circle

//The "back to top" button
block overlay
  a.btn-floating.btn-large.btn-light.waves-effect.waves-light.z-depth-5#back-to-top
    i
      img(src="images/top-arrow.svg")

//Block containing content "below the fold"
block tweets
  div.row
    //The column to the left displaying player and club info
    //(TEMPORARY)
    div.col.s12.l5#side-info
      div.card-panel.z-depth-1.info#playerinfo
        div.info-top
          div.info-image#playerimage
            img.circle.responsive-img(src = "images/manny.png")
          div.info-title#playername
            p Manny Calavera
        table.striped
          tbody
            tr
              td.info-name
                | Current Club:
              td#currentclub
                span Club Universidad Nacional
            tr
              td.info-name
                | Position:
              td#position
                span Front, back and sides
            tr
              td.info-name
                | Jersey Number:
              td#jerseynumber
                span 13
            tr
              td.info-name
                | Age:
              td#age
                span 11
            tr
              td.info-name
                | Country:
              td#country
                span Mexico
            tr
              td.info-name
                | Height:
              td#height
                span 2ft
            tr
              td.info-name
                | Weight:
              td#weight
                span 1kg
            tr
              td.info-name
                | Preferred Foot:
              td#preferredfoot
                span The wrong one
            tr
              td.info-name
                | Estimated Value:
              td#estimatedvalue
                span £1
      div.card-panel.grey.lighten-5.z-depth-1.info#clubinfo
        div.info-top
          div.info-image#playerimage
            img.responsive-img(src = "images/club.png")
          div.info-title#playername
            p Club Universidad Nacional
        table.striped
          tbody
            tr
              td.info-name
                | League:
              td#league
                span Liga MX

    //Right-hand section for graph and tweets
    div.col.s12.l7#js-tweet-start
      //The graph
      #tweet-stats

      //Button for loading more tweets
      .card-panel.loadMore#loadMoreTweets
        | View #[span(class='count') 0] new Tweets

      //ID used for displaying gathered tweets
      #app


  script#tweet-stats-template(type='text/x-handlebars-template').
    <div id="js-tweet-chart-container" class="row">
      <div class="col s12">
        <div class="card-panel">
          <table class="responsive-table" id="tweetData">
            <tbody>
              <tr>
                <td class="info-name">Tweets from Twitter</td>
                <td>{{ countFromTwitter }}</td>
              </tr>

              <tr>
                <td class="info-name">Tweets from Database</td>
                <td>{{ countFromDatabase }}</td>
              </tr>
            </tbody>
          </table>
          <div>
            {{#if renderGraph}}
              <canvas id="tweet-chart" height="400" width="750" style="width: 100%"></canvas>
            {{else}}
              <div class="chartLoader">Loading graph...</div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>

  script#tweet-template(type='text/x-handlebars-template').
    <div class='card-panel z-depth-1'>
      <div class='row tweet'>
        <div class='col s3 xl2'>
          <img src={{profileImageUrl}} alt="profile image" class="circle responsive-img avatar"/>
        </div>
        <div class='col s9 xl10'>
          <div class="tweetTop">
              <div class="tweetName">
                  <a href="https://twitter.com/{tweet.twitterHandle}" target="_blank" class="black-text">{{name}}</a>
              </div>
              <div class="tweetHandle">
                <a href="https://twitter.com/{tweet.twitterHandle}" target="_blank">@{{twitterHandle}}</a>
              </div>
          </div>
          <span class = "black-text">{{{text}}}</span>
          <div class="tweetDate">{{datePublished}}</div>
      </div>
    </div>